/* shared style */

.inter-primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 900; */
  font-style: normal;
}

.raleway-secondary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.primary-color{
    color: #4E47FF;   
}
.color-02{
    color: #8987A1;
}
.btn-primary{
    color:#FFFFFF ;
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
    padding: 12px 36px;
    cursor: pointer;
}
.btn-primary:hover{ background-color: rgba(0, 119, 255, 0.527);

}

/* nav styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    
}

.nav-title{
    font-size:35px;
    font-weight: 900;
}

/* hero-section style */
.hero-section{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat:no-repeat;
    text-align: center;
    margin: 309px 267.5px 159px;
}
.hero-text{
    font-size: 65px;
}
/* action style */
.action{ 
    display:flex;
    justify-content: space-around;
    margin: 116px 159px 116px 141px;
    gap: 220px;
}
.action-text{
    padding: 62.5px 0px;
    height: 203px;
    width: 517px;

}
.action-title{
    font-size: 42px;


}
.action-description{
    font-size: 24px;
    font-weight: bold;
    color: #2524327c;
}

.action-image{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
/* productive users section style */
.productive-users{
    text-align: center;
     margin: 116px 159px 137px 141px;

}
.productive-users-title{
    font-size: 38px;
}
.productive-users-data{
    display: flex;
    gap:158px ;
    justify-content:center;

}
.user-data{
    font-size: 80px;
    font-weight: bold;
}
.user-subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #00000080;

}
/* form  style */
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 115px;
  padding: 50px 150px;

}

.form-title {
  font-size: 90px;
  max-width: 400px;
}

.form {
  
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border:none;
  margin-bottom: 20px;
}

textarea {
  height: 130px;
}

input[type="submit"] {
  width: 100%;
}

/* footer styles */

.footer-container {
  text-align: center;
  padding:60px 20px;
}

.footer-title {
  font-size: 90px;
  font-weight: 900;
  margin-bottom: 10px;
}

.footer-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
   max-width: 600px;
  margin: 0 auto 20px auto;
}

.footer-links ul {
  list-style: none;
  display: inline-flex;
  gap: 48px;

}


.footer-links a {
  text-decoration: none;
  color: #8987A1;
  font-weight: 600;
  font-size: 16px;
  
}


